[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "tagbar"]
	path = tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vim-markdown"]
	path = vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "tabbar"]
	path = tabbar
	url = git://github.com/treelite/tabbar.git
[submodule "neocomplcache.vim"]
	path = neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-less"]
	path = vim-less
	url = https://github.com/groenewege/vim-less.git
