[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "tagbar"]
	path = tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "acp"]
	path = acp
	url = git://github.com/eikenberry/acp.git
[submodule "vim-markdown"]
	path = vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "tabbar"]
	path = tabbar
	url = git://github.com/treelite/tabbar.git
[submodule "jshint.vim"]
	path = jshint.vim
	url = git://github.com/walm/jshint.vim.git
[submodule "vim-jsbeautify"]
	path = vim-jsbeautify
	url = git://github.com/maksimr/vim-jsbeautify.git
